<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Crud</title>
    <!-- <x-compile> -->
    <!-- <x-bootstrap> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all.js"></script>
  
</head>
<body>
    <script src="~/Scripts/Student.js"></script>
    <script src="~/Scripts/StudentMaster.js"></script>
    <script src="~/Scripts/StudentMasterController.js"></script>
</body>
</html>